/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.channel-container .channel {
  height: 50px;
  width: 100%;
  border-radius: 15px;
  display: flex; }
  .channel-container .channel .channel-title {
    width: 500px;
    color: white;
    text-align: center;
    font-family: 'Dosis';
    font-weight: 800;
    font-size: 20px; }
  .channel-container .channel .bar {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    display: flex; }
    .channel-container .channel .bar .note {
      height: 100%;
      width: 100%;
      cursor: pointer;
      border-radius: 10px; }

.channel.drums {
  background-color: #003815;
  border: 5px solid #001f0b; }
  .channel.drums .bar {
    background-color: #006b27;
    border: 5px solid #00521e; }
    .channel.drums .bar .note {
      background-color: #00b843;
      border: 5px solid #008531; }
      .channel.drums .bar .note.active {
        background-color: white; }

.channel-container {
  background-color: #4d000a; }
  .channel-container.synth-container {
    border: 5px solid #4d000a;
    border-radius: 20px; }
  .channel-container .channel {
    border-radius: 15px; }
    .channel-container .channel.synth {
      height: 30px;
      background-color: #ff0022; }
      .channel-container .channel.synth.black-note {
        background-color: #800011; }
        .channel-container .channel.synth.black-note .bar {
          background-color: #800011;
          border-left: 5px solid #800011;
          border-right: 5px solid #800011; }
          .channel-container .channel.synth.black-note .bar .note {
            background-color: #e6001f;
            border: 5px solid #b30018; }
            .channel-container .channel.synth.black-note .bar .note.active {
              background-color: white; }
      .channel-container .channel.synth .bar {
        background-color: #ff0022;
        border-left: 5px solid #ff0022;
        border-right: 5px solid #ff0022; }
        .channel-container .channel.synth .bar .note {
          background-color: #ff99a7;
          border: 5px solid #ff667a; }
          .channel-container .channel.synth .bar .note.active {
            background-color: white; }

* {
  box-sizing: border-box; }

#root {
  height: 100vh;
  width: 100vw; }

.bar {
  max-width: 500px; }

/*# sourceMappingURL=main.css.map */
