@import 'base/reset';
@import 'channels/base';
@import 'channels/bass';
@import 'channels/drums';
@import 'channels/synth';

* {
    box-sizing: border-box;
}

#root {
  height: 100vh;
  width: 100vw;
}

.channel {

}

.bar {
  max-width: 500px;
}
