.channel-container {
  background-color: #4d000a;

  &.synth-container {
    border: 5px solid #4d000a;
    border-radius: 20px;
  }

  .channel {
    border-radius: 15px;

    &.synth {
      height: 30px;
      background-color: #ff0022;

      &.black-note {
        background-color: #800011;

        .bar {
          background-color: #800011;
          border-left: 5px solid #800011;
          border-right: 5px solid #800011;

          .note {
            background-color: #e6001f;
            border: 5px solid #b30018;

            &.active {
              background-color: white;
            }
          }
        }
      }

      .bar {
        background-color: #ff0022;
        border-left: 5px solid #ff0022;
        border-right: 5px solid #ff0022;

        .note {
          background-color: #ff99a7;
          border: 5px solid #ff667a;

          &.active {
            background-color: white;
          }
        }
      }
    }
  }
}
